<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <!-- Will override fileName, archive name, maxArchiveFiles, archiveOldFileOnStartup, and minlevel in bootstrap code.
         fileName attribute needed here by NLog -->
    <target name="logfile" xsi:type="File" fileName="ds4windows_log.txt" layout="${longdate} [${level:uppercase=true}] ${message}"
            archiveNumbering="DateAndSequence" archiveDateFormat="yyyyMMdd" archiveOldFileOnStartup="false"  />
    <!--<target name="logconsole" xsi:type="Console" />-->
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
    <logger name="*" writeTo="logfile" />
  </rules>
</nlog>